@use "../../../app/styles/main" as main;
@use "../../../app/styles/helpers" as *;

.section_tab_category {
  padding-block: fluid(80, 64);
  display: flex;
  flex-direction: column;
  row-gap: rem(32);
}

.container_header_tabs {
  display: flex;
  justify-content: space-between;
}

.header_tabs_title {
  font-size: rem(24);
  font-weight: 500;
  line-height: 133%;
  letter-spacing: 0.01em;
}

.header_wrapper_tabs_btn {
  display: flex;
}

.list_card_link {
  display: flex;
  justify-content: space-between;
  column-gap: rem(16);
  overflow: hidden;
}

.card_linc_catefory {
  width: 160px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: rem(8);
  border-radius: 15px;
  background: var(--gray-3);
}

.card_linc_catefory_name {
  font-size: rem(16);
  font-weight: 500;
  line-height: 150%;
  text-align: center;
}
