@use "../../../styles/helpers" as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition-duration: var(--transition-duration);
}

.trackContextMenu {
  width: rem(180);
  height: rem(250);
  overflow: hidden;
  background-color: gray;
  transition-duration: var(--transition-duration);
}
