@use "../../app/styles/main.scss" as main;
@use "../../app/styles/helpers" as *;

.homePage {
  display: flex;
  flex-direction: column;
  row-gap: fluid(50, 40);
  padding-block: fluid(30, 15);
  background-color: var(--color-bg-body);
}

.sectionContent:not(:first-child) {
  border-top: 1px solid var(--color-bg-main);
}

.sectionContent {
  display: flex;
  flex-direction: column;
  row-gap: fluid(15, 5);
  padding-top: fluid(15, 5);
}

.titleLink {
  @include fluid-text(20, 16);

  font-weight: 700;
  transition-duration: var(--transition-duration);
  color: var(--color-bg-main);
}

.titleLink:hover {
  color: var(--green-color);
}

.carouselWrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.containerScroll {
  display: flex;
  max-width: 100%;
  column-gap: fluid(20, 15);
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;


  & > * {
    flex-shrink: 0;
    pointer-events: auto;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  color: var(--color-white);
  border: none;
  padding: fluid(10, 5) fluid(15, 10);
  cursor: pointer;
  transition-duration: var(--transition-duration);

  &:hover {
    scale: 1.01;
    color: var(--green-color);
    background: rgba(0, 0, 0, 0.6);
  }
}

.prevButton {
  left: 0;
}

.nextButton {
  right: 0;
}

.cardMovie {
  position: relative;
  width: fluid(250, 140); // уменьшил минимальную ширину
  min-width: fluid(140, 120);
  flex-shrink: 0;
  overflow: hidden;
  pointer-events: auto;
  transition-duration: var(--transition-duration);

  @media (max-width: 768px) {
    width: 160px;
    min-width: 160px;
  }
  
  @media (max-width: 480px) {
    width: 130px;
    min-width: 130px;
  }
  
  @media (max-width: 360px) {
    width: 110px;
    min-width: 110px;
  }
}

.cardMovie:hover {
  scale: 1.02;
}
.cardMovie::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1.7), transparent);
}

.cardMoviePoster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.cardMovieTitle {
  @include abs-x;
  @include fluid-text(16, 14);

  text-align: center;
  position: absolute;
  color: var(--color-white);
  top: 80%;
  z-index: 100;
}
