@use "../base/helpers" as *;

.card-page2 {
  width: calc(100% / 5 - 20px);
  min-width: rem(150);
  max-width: rem(300); // Чтобы не выходили за границы
  margin: fluid(10, 5);

  &__image {
    width: 100%;
    height: rem(150);
    background-color: #a04;
  }

  &__subtitle {
    padding: rem(10);

    @include tablet-s {
      padding: rem(4);
    }

    & > p {
      @include fluid-text(18, 12);

      @include tablet-s {
        font-size: rem(12);
      }
      display: inline;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
