@use "../base/helpers" as *;

.footer {
  width: 100%;
  padding: fluid(50, 10) fluid(50, 10) fluid(20, 10);
  min-height: fluid(200, 150);
  display: flex;
  flex-direction: column;
  row-gap: fluid(30, 20);
  background-color: var(--color-dark-20);

  &__inner {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;

    @include tablet {
      row-gap: rem(20);
      grid-template-columns: 1fr 1fr;
    }

    @include mobile {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__contact-us {
    padding-left: rem(20);

    @include tablet {
      padding-left: rem(15);
    }

    @include mobile {
      padding-left: rem(10);
    }
  }

  &__categories {
    padding-left: rem(30);

    @include tablet {
      padding-left: rem(20);
    }

    @include mobile {
      padding-left: rem(10);
    }
  }

  &__left {
    display: flex;
    padding-right: fluid(20, 10);
  }

  &__categories-title {
    @include fluid-text(21, 14);

    font-weight: 600;
    margin-bottom: fluid(20, 10);
  }

  &__form {
    &-inner {
      padding-left: rem(20);
      display: flex;
      flex-direction: column;
      row-gap: fluid(15);

      @include tablet {
        padding-left: rem(15);
      }

      @include mobile {
        padding-left: rem(10);
      }
    }

    &-subtitle {
      @include fluid-text(26, 18);
    }
  }

  &__contact-us-title {
    @include fluid-text(21, 14);

    font-weight: 600;
    margin-bottom: fluid(20, 10);
  }

  &__copyrights {
    display: flex;
    column-gap: rem(20);
    align-items: center;

    @include mobile {
      column-gap: rem(10);
    }
  }
}
