@use "../base/helpers" as *;

.header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s;

    &.sticky {
        padding-block: rem(10);
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: inset 0 -1.5px 3px rgba(255, 255, 255, 0.3);
    }
    
    &__inner {
        width: 100vw;
        padding: rem(20) rem(50);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;

        @include tablet {
            padding: rem(15) rem(30);
        }
    }

    &__logo {
        @include fluid-text(45, 20);
    }

    &__menu {
        @include mobile {
            display: none;
            opacity: 0;
             
        }
    }

    &__list {
        @include flex-center();
        column-gap: fluid(25, 12);

    }

    &__item {
        padding-left: 10px;
        padding-right: 10px;
        border-left: 1px solid var(--color-light);
        border-right: 1px solid var(--color-light);

        @include hover {
            border-color: var(--color-accent);
        }
    }
    
    &__overlay {
        @include mobile-above {
          display: contents;
        }

        @include mobile-above {
            display: none !important;
          }
    
        @include mobile {
          position: fixed;
          inset: 0; //растянуть весь элемент растянем на весь экран
          display: flex;
          flex-direction: column;
          justify-content: center;
          row-gap: rem(3);
          padding: 1rem;
          background-color: var(--color-dark-10);
          transition-duration: var(--transition-duration);
    
          &:not(.is-active) {
            @include hide;
            translate: 100%;
          }
        }
      }
   
}


