* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*.div {*/
/*    display: flex;*/
/*    padding: 30px;*/
/*    width: 100px;*/
/*    aspect-ratio: 1;*/
/*    border: 10px solid red;*/
/*    background-color: #34b3f1;*/
/*    overflow: auto;*/
/*}*/

.btn {
    width: 100px;
    height: 50px;
    background-color: blue;
    transition: all 0.5s ease-in-out;
}

.expand {
    width: 200px;
    height: 100px;
    background-color: red;
}