* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*.div {*/
/*    display: flex;*/
/*    padding: 30px;*/
/*    width: 100px;*/
/*    aspect-ratio: 1;*/
/*    border: 10px solid red;*/
/*    background-color: #34b3f1;*/
/*    overflow: auto;*/
/*}*/

.is-invalid {
    border-color: brown;
}