@use "../../../app/styles/main" as main;
@use "../../../app/styles/helpers" as *;

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: fluid(56, 15);
  padding-block: rem(16);

  @include tablet-S {
    flex-wrap: wrap;
    justify-content: normal;
    row-gap: rem(10);
  }

  @include mobile {
    justify-content: space-between;
  }
}

.container_menu {
  display: flex;
  align-items: center;
  column-gap: fluid(52, 20);

  @include tablet-S {
    width: 100%;

    justify-content: flex-end;
  }
}

.navMenuList {
  display: flex;
  column-gap: fluid(52, 20);

  @include mobile {
    flex-direction: column;
    align-items: center;
    row-gap: rem(20);
  }
}

.navMenuItem {
  @include fluid-text(16, 14);

  font-weight: 500;
  flex-shrink: 0;
  color: var(--color-black);
  opacity: 0.3;

  & a {
    text-decoration: none;
  }

   @include mobile {
    @include fluid-text(20, 18);
  }

  
}

.isActive {
  opacity: 1;
}

.containerUserActions {
  display: flex;
  column-gap: fluid(24, 14);

  .basketLink,
  .useAdminLink,
  .useSignLink {
    flex-shrink: 0;
  }

   @include mobile {
    justify-content: center;
    row-gap: rem(20);
  }

}
