@use "./helpers/" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-40);
  border-radius: rem(100);
}

//* {
//  border: 1px solid red;
//}

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: rem(340);
  font-family: var(--font-family-base);
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: var(--color-light);
  background-color: var(--color-dark);
}
main {
  flex-grow: 1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 500;
  font-family: var(--font-family-accent);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  @include fluid-text(70, 30);
  line-height: 1.2;
}
h2,
.h2 {
  @include fluid-text(58, 28);
  line-height: 1.3;
}
h3,
.h3 {
  @include fluid-text(40, 24);
}
h4,
.h4 {
  @include fluid-text(26, 18);
}
h5,
.h5 {
  @include fluid-text(24, 18);
}
h6,
.h6 {
  @include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  display: inline-block;
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: "";
    }
  }
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}