@use "../../../app/styles/main" as main;
@use "../../../app/styles/helpers" as *;

.containerInput {
  position: relative;

  @include tablet-S {
    width: 450px;
  }

  @include mobile {
    max-width: 100%;
  }
}

.inputElement {
  padding: rem(16);
  max-width: rem(372);
  border: none;
  border-radius: var(--border-radius-small);
  background: #f5f5f5;

  &:focus + .inputIcon {
    display: none;
  }

  @include tablet-S {
    max-width: 450px;
    width: 100%;
  }
}

.inputElement::placeholder {
  @include fluid-text(14, 12);

  text-indent: rem(32);

  font-weight: 500;
  line-height: 129%;
  color: var(--gray-6);
  opacity: 0.5;
}

.inputElement::-webkit-search-cancel-button {
  color: var(--gray-6);
}


.inputIcon {
  @include abs-center;

  left: rem(30);
  position: absolute;
}