* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0d707d;
}

.section {
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: 80px;
    margin: 0 auto;
    z-index: 100;
    overflow: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}



.close-modal {
    right: 10px;
    top: 10px;
    position: absolute;
    background-color: transparent;
}

.subscription {
    background-color: #34b3f1;
}