@use "../helpers" as *;

.about {
  padding: rem(16);

  &__inner {
    height: 100vh;
    margin-inline: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: rem(55);
    font-weight: 800;
    color: var(--color-white);
  }

  &__subtitle {
    font-size: rem(45);
    font-weight: 800;
    color: var(--color-white);
  }
}