@use "../helpers" as *;

.button {
  @include fluid-text(18, 14);

  font-weight: 700;
  width: 100%;
  display: inline-block;
  padding: rem(10) 0;
  border-radius: 0.7rem;
  color: var(--color-white);
  background-color: var(--color-bg-btn-menu);

  @include hover{
    background-color: var(--color-main-blue);
  }

  &--questionnaire {
    display: inline-flex;
    column-gap: 0.625rem;
    max-width: max-content;
    padding: rem(8) rem(25);
    max-width: max-content;
    background-color: var(--color-bg-header);
  }
}
