@use "../helpers" as *;

.experience-card {
  position: relative;
  max-width: 350px;
  padding-left: rem(35);
  display: flex;
  flex-direction: column;
  row-gap: rem(10);
  align-items: start;
  border-left: 2px solid var(--color-border-color);

  &__icon-wrapper {
    @include flex-center;
    @include square(rem(40));

    position: absolute;
    left: rem(-20);
    border-radius: 100%;
    background-color: var(--color-main-blue);
    box-shadow: var(--box-shadow);

    @include mobile {
      @include square(rem(35));
    }
  }

  &__icon {
    @include mobile {
      @include square(rem(22));
    }
  }

  &__date {
    @include fluid-text(16, 12);

    padding: rem(7) rem(12);
    border-radius: rem(25);
    color: var(--color-white);
    background-color: var(--color-bg-header);

    @include mobile {
      padding: rem(5) rem(10);
    }
  }

  &__title {
    @include fluid-text(20, 18);

    line-height: 1.2;
    color: var(--color-text);
  }

  &__description {
    @include fluid-text(16, 12);

    line-height: 1.5;
  }
}