@use "../helpers" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
  background-color: var(--color-bg-header);

  &__inner {
    width: 100%;
    height: 100%;
    padding: fluid(20, 15);
  }
}