@use "../helpers" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--width-header);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
  transition-duration: var(--transition-duration);
  background-color: var(--color-bg-header);

  @include tablet {
    left: -30rem;
  }

 @include mobile {
    width: 100vw;
  }

  &.show-header {
    left: 0%;
  }

  &__inner {
    width: 100%;
    height: 100%;
    padding: fluid(20, 15);
  }
}