@use "../helpers" as *;

.hero {
  padding: rem(16);

  &__inner {
    height: 100vh;
    margin-inline: rem(60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: rem(10);

    @include laptop {
      margin-inline: rem(5);
    }

    @include tablet {
      margin-inline: fluid(60, 15);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
  }

  &__title {
    @include fluid-text(55, 35);

    font-weight: 800;
    color: var(--color-text);
  }

  &__subtitle {
    @include fluid-text(45, 25);

    font-weight: 700;
    color: var(--color-text);
  }

  &__button {
    @include fluid-text(16, 12);

    display: inline-flex;
    column-gap: rem(10);
    max-width: max-content;
    padding: rem(10) rem(15);
    border-radius: rem(15);
    color: var(--color-white);
  }
}