@use "../helpers" as *;

.main-menu {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    flex-direction: column;
    padding: rem(16) 0;
    row-gap: rem(10);
    width: 50%;
  }

  &__link {
    @include fluid-text(18, 14);

    font-weight: 700;
    width: 100%;
    display: inline-block;
    padding: rem(10) 0;
    border-radius: 0.7rem;
    color: var(--color-white);
    background-color: var(--color-bg-btn-menu);

    @include hover{
      background-color: var(--color-main-blue);
    }
  }
}