@use "../helpers" as *;

.switchers {
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
  margin-block: rem(15);

  &__theme-btn {
    padding: 4px;
    background-color: #ababab;
    color: var(--container-padding-x);
  }

  &__language-btn {
    padding: 4px;
    background-color: #ababab;
    color: var(--container-padding-x);
  }
}