@use "../../../app/styles/main" as main;
@use "../../../app/styles/helpers/index" as *;

.inputContainer {
  position: relative;
}

.inputElement {
  max-width: rem(400);
  width: 100%;
  outline: none;
  border: 0;
  padding: rem(10) rem(10);
  height: rem(35);
  line-height: rem(35);
  background-color: var(--search-input);
  box-shadow: inset 0 0 0 1px #e3e3e3, inset 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.icon {
  position: absolute;
  top: 50%;
  right: rem(10);

  @include abs-y;
}
