@use "../../../app/styles/main" as main;
@use "../../../app/styles/helpers/index" as *;

.inputContainer {
  position: relative;
}

// Этот класс применяем к TextField
.autocompleteInput {
  width: 100%;
  
  :global {
    // Стили для корневого элемента инпута
    .MuiOutlinedInput-root {
      height: rem(35) !important;
      border-radius: 6px !important;
      background-color: var(--search-input) !important;
      
      // Поле ввода
      input {
        padding: rem(10) rem(10) !important;
        line-height: rem(35) !important;
        height: rem(35) !important;
        font-size: 16px;
        
        &::placeholder {
          color: #999 !important;
          font-size: 14px !important;
          font-style: italic !important;
          font-weight: 400 !important;
          opacity: 0.8 !important;
          transition: opacity 0.3s ease !important;
        }
        
        &:focus {
          color: var(--color-dark-333) !important;
          
          &::placeholder {
            opacity: 0.5 !important;
          }
        }
      }
      
      // Рамка
      fieldset {
        border: 1px solid transparent !important;
        box-shadow: inset 0 0 0 1px #e3e3e3, inset 1px 2px 5px rgba(0, 0, 0, 0.2) !important;
        top: 0 !important;
      }
      
      // Состояние при фокусе
      &.Mui-focused {
        fieldset {
          border-color: var(--green-color) !important;
          border-width: 1px !important;
        }
      }
      
      // Состояние при наведении
      &:hover fieldset {
        border-color: #e3e3e3 !important;
      }
    }
  }
}

.label {
  & .MuiInputLabel-root {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%); // было translate: 50% - это неверно
    pointer-events: none;
    color: #999;
  }
  
  & .MuiOutlinedInput-root {
    height: 35px;
    
    & input {
      height: 35px;
      padding: 0 12px;
      line-height: 35px;
    }
    
    & fieldset {
      top: 0;
    }
  }
}

.icon {
  @include abs-y;

  position: absolute;
  right: rem(10);
  top: 46%;
  pointer-events: none;

  @include tablet-S {
    top: 51%;
  }
}

.wrapperSettings {
  display: flex;
  column-gap: rem(10);
  max-width: rem(400);
}