:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.input-wrapper {
  display: flex;
  column-gap: 15px;
}

.input {
  width: 250px;
  height: 20px;
  border-radius: 5px;
  border-color: #007bff;
}

.button-input {
  align-self: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #007bff;
  color: #fff;
}

.button-input:hover {
  scale: 1.1;
  background-color: #fff;
  border-color: #007bff;
  color: #007bff;
}

.wrapper-buttons {
  display: flex;
  column-gap: 16px;
  padding: 6px;
}

.button {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #fff;
  border-color: #007bff;
  color: #007bff;
}

.active {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.list-item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-task {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  width: 300px;
  padding: 4px;
  border-bottom: 1px solid grey;
}

.item-task {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  width: 300px;
  padding: 4px;
  border-bottom: 1px solid grey;
} 

.item-task.is-done span {
  opacity: 0.5;
  text-decoration: line-through;
}

.text-item.active {
  opacity: 0.5;
  text-decoration: underline;
}

.button-delete-item {
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #fff;
  border-color: #007bff;
  color: #007bff;
}
