@use "../helpers" as *;

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-background-main: #181818;
  --color-background-card: #1F1F1F;
  --color-pink: #EE10B0;
  --color-blue: #0E9EEF;

  --color-red: red;


  --border-radius-small: #{rem(4)};
  --border-radius-midle: #{rem(8)};
  --border-radius-large: #{rem(14)};

  --font-family: "Inter", sans-serif;

  --container-width: #{rem(1200)};
  --container-padding-x: #{rem(25)};

  --border-input: #{rem(2)} solid var(--color-white);

  --border-radius: #{rem(8)};

  --transition-duration: 0.3s;
}







