@use "../../app/styles/main.scss" as main;
@use "../../app/styles/helpers" as *;

.navBar {
  position: fixed;
  padding: rem(25);
  height: 100vh;
  width: 30%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: rem(40);
  z-index: 100;
  transition: transform 0.3s ease;
  background-color: var(--color-bg-body);

  box-shadow: var(--box-shadow);
  box-shadow: 17px 8px 30px -15px rgba(66, 68, 90, 1);

  &.visible {
    transform: translateX(0);
  }

  &.hidden {
    transform: translateX(-100%);
    box-shadow: none;
  }

  ul {
    @extend .list-reset;
  }
}


.listList {
  display: flex;
  flex-direction: column;
  row-gap: rem(10);
}

.listList:nth-child(3) {
  padding-top: 15px;
  border-top: 1px solid #9F9F9F;
}

.itemLink {
  display: flex;
  column-gap: rem(16);
}

.itemTitlt {
  font-size: 18px;
  font-weight: 600;
  opacity: 0.9;
  transition-duration: var(--transition-duration);
  color: var(--color-dark-333);
}

.itemTitlt:hover {
  opacity: 1;
  color: #4FB500;
}
