@use "../../app/styles/main.scss" as main;
@use "../../app/styles/helpers/" as *;

.homePage {
  display: flex;
  flex-direction: column;
  row-gap: fluid(20, 10);
  padding-block: fluid(30, 15);
  background-color: var(--color-bg-body-alt);
}

.containerInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: rem(16);
}

.wrapperPoster {
  max-width: rem(400);
  aspect-ratio: 2/3;
  align-self: flex-start;
  background-color: var(--color-bg-body-alt);
}

.poster {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.wrapperTitle {
  display: flex;
  flex-direction: column;
  row-gap: fluid(12, 5);
}

.title {
  @include fluid-text(32, 26);

  font-weight: 700;
}

.titleEnglish {
  @include fluid-text(26, 18);

  font-weight: 600;
}

.containerBiography {
  display: flex;
  flex-direction: column;
  row-gap: fluid(10, 6);
}

.titleBiography {
  @include fluid-text(26, 18);

  font-weight: 600;
}

.wrapperInfoDetailed {
  display: flex;
  flex-direction: column;
  row-gap: fluid(10, 6);
}

.wrapperInfoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: rem(10);
}

.itemTitle {
  @include fluid-text(18, 14);

  font-weight: 600;
  color: var(--color-black);
}

.itemValue {
  @include fluid-text(18, 14);

  font-weight: 400;
  color: var(--color-bg-main);
}

.containerFilmography {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > span {
    @include fluid-text(22, 16);

    font-weight: 600;
    text-align: center;
    color: var(--color-black);
  }
}

.listFilmography {
  max-width: 60%;
  //  display: flex;
  //  justify-content: center;
}

.itemFilm {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: fluid(8, 4);
  border-bottom: 1px solid var(--color-bg-tab);
  transition-duration: var(--transition-duration);

  @include hover {
    background: var(--color-bg-tab);
  }
}



.linkFilm {
  max-height: rem(60);
  display: flex;
  align-items: center;
  column-gap: rem(15);
  color: var(--color-bg-main);
}

.linkProfession,
.linkDescription {
  @include fluid-text(10, 8);

  font-weight: 400;
  color: var(--color-black);
}

.ratingHigh {
  color: #4caf50; // зеленый
  font-weight: bold;
}

.ratingMedium {
  color: #ff9800; // оранжевый
  font-weight: 500;
}

.ratingLow {
  color: #f44336; // красный
}

.ratingNone {
  color: #9e9e9e; // серый
}
