@use "base/normalize";
@use "base/fonts";
@use "base/variables";
@use "base/utils";
@use "base/globals";

@use "blocks/header";
@use "blocks/switchers";
@use "blocks/profile-info";
@use "blocks/button";
@use "blocks/main-menu";
@use "blocks/burger";
@use "blocks/hero";
@use "blocks/section";
@use "blocks/title";
@use "blocks/about";
@use "blocks/questionnaire";
@use "blocks/education";
@use "blocks/experience-card";
@use "blocks/skills";
@use "blocks/portfolio";
@use "blocks/tabs";
@use "blocks/tab-card";
@use "blocks/contact";
@use "blocks/address";
@use "blocks/form";
@use "blocks/footer";
@use "blocks/extra-menu";
@use "blocks/soc1als";
