@use "../../../app/styles/main.scss" as main;
@use "../../../app//styles/helpers/" as *;

.product_grid_list {
  display: flex;
  flex-wrap: wrap;
  gap: rem(16);

  .product_grid_list_item {
    width: fluid(268, 163);
    height: fluid(432, 350);
  }
}
