@use "../helpers" as *;

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-bg-body: #222;
  --color-bg-btn-menu: #333;
  --color-bg-header: #0d1117;
  --color-main-blue: #00bfff;

  --color-text: var(--color-white);
  --color-bg: var(--color-bg-body);

  --width-header: 25rem;

  --font-family: "Nunito", sans-serif;

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(16)};

  --border: #{rem(8)} solid var(--color-main-blue);

  --transition-duration: 0.3s;
  --box-shadow: 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  --glow-box-shadow: 0rem 0rem 0.1rem var(--color-main-blue),
  0rem 0rem 0.2rem var(--color-main-blue),
  0rem 0rem 0.3rem var(--color-main-blue),
  0rem 0rem 0.4rem var(--color-main-blue);
}

