* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;
  background-color: #ced6fb;
}

.section {
  width: 1200px;
  margin: 50px auto;
}

.input {
  width: 400px;
  padding: 5px;
  border-radius: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.header {
  padding: 3px;
  background-color: ghostwhite;
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.item {
  background-color: tan;
  display: block;
  font-weight: 400;
  font-size: 13px;
}

.text {
  display: none;
}