* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background-color: #ced6fb;
  background-image: linear-gradient(180deg, #B3C8CF 0%, #89A8B2 100%);
}

.container {
  position: relative;
  width: 100%;
  max-width: 555px;
  height: 380px;
  margin-inline: auto;
  display: flex;
  border: 1px solid black;
  border-radius: 24px;
  overflow: hidden;

}

.image {
  display: none;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.image-active {
  display: flex;
}

.slider {
  display: flex;
}

.boxPagination {
  position: absolute;
  width: 150px;
  display: flex;
  justify-content: space-between;
  bottom: 5%;
  left: 50%;
  translate: -50%;
}

.point {
  display: flex;
  width: 14px;
  aspect-ratio: 1;
  border: 2px solid purple;
  border-radius: 50%;
  cursor: pointer;
  background-color: burlywood;
}

.point:hover {
  scale: 1.2;
  background-color: gold;
}

.point-active {
  border-color: gold;
  background-color: gold;
}

button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50%;
}

.box__button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 95%;
  top: 50%;
}

.next {
  left: 100%;
}