.field {
  position: relative;
  display: flex;

  &:has(.field__input:not(:placeholder-shown)) .field__lable {
    scale: 0.7;
    translate: -1.75em -2.6em;
    color: var(--color-black);
  }
}

.field__lable {
  position: absolute;
  top: 50%;
  left: 17px;
  translate: 0 -50%;
  cursor: pointer;
  color: var(--color-gray-3);
}

.field__input {
  --fieldInputPaddingX: 16px;
  --fieldSearchIconSize: 16px;

  width: 100%;
  height: var(--input-height);
  border-radius: var(--border-radius);
  padding-inline: var(--fieldInputPaddingX);
  padding-block: 12px;
  border: var(--border);
  background-color: var(--color-white);

  &:hover,
  &:focus {
    color: var(--color-black-2);
  }

  &:focus {
    background-color: var(--color-gray-1);
    outline: none;
  }

  &[type="search"] {
    &:placeholder-shown {
      padding-right: calc(var(--fieldInputPaddingX) * 2 + var(--fieldSearchIconSize));
      background-image: url("../../icons/icon-search_black.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
      background-size: var(--fieldSearchIconSize);
    }
  }
}

