.todo {
  width: 100%;
  max-width: 405px;
  min-height: 430px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
}

.todo__title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

.todo__form {
  display: flex;
  column-gap: 16px;
}

.todo__field {
  width: 100%;
}

.todo__info {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}

.todo__delete-all-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-black);

  &:hover {
    color: var(--color-gray-4);
  }

  &:not(.is-visible) {
    opacity: 0;
    visibility: hidden;
  }
}

.todo__list,
.todo__empty-message {
  &:empty {
    display: none;
  }
}

.todo__list {
  --listRowGap: 8px;

  width: 100%;
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  row-gap: var(--listRowGap);
}

.todo__empty-message {
  text-align: center;
  color: var(--color-gray-4);
}
