@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  border: 0;
  outline: 0;
  background: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  padding: 8px 18px;
  box-shadow: 15px 0 20px 0 rgba(0,0,0,0.05);
  background-color: #2c2e3d;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  transition: background-color 0.3s;
}

.link--2 {
  background-color: #0d707d;
}

body {
  font-family: 'Inter';
  font-weight: 400;
  color:#2c2e3d;
  font-size: 20px;
}

[class*=__container] {
  max-width: 1140px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

.header {
  background: #2c2e3d;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 60px;
  justify-content: space-between;
}

.header__logo {
  color: #fff;
  display: flex;
  align-items: center;
  column-gap: 7px;
  transition: color 0.3s;
}

.header__logo i {
  color: #7bb2b4;
}

.header__cart-wrap {
  position: relative;
  cursor: pointer;
}

.header__cart-btn {
  color: #fff;
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: 500;
  transition: color 0.3s;
}

.header__cart-count {
  color: #68e6f0;
}

.header__cart-block {
  position: absolute;
  width: 450px;
  top: 100%;
  right: 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
  cursor: auto;
  box-shadow: 20px 20px 50px 0 rgba(0,0,0,0.05);
}

.cart-block-header__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-block-header__items {
  margin-bottom: 20px;
}

.cart-block-header__item {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 80px auto;
  align-items: center;
  column-gap: 25px;
}

.cart-block-header__item:not(:last-child) {
  margin-bottom: 15px;
}

.item-cart-header__image {
  display: block;
}

.item-cart-header__image img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.item-cart-header__link {
  display: inline-block;
  justify-self: start;
  font-size: 16px;
  transition: color 0.3s;
}

.item-cart-header__price {
  font-size: 18px;
}

.item-cart-header__count {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.item-cart-header__btn {
  font-size: 19px;
  border-radius: 50%;
  border: 1px solid #2c2e3d;
  flex: 0 0 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-cart-header__number {
  flex: 1 0 20px;
  text-align: center;
  font-size: 16px;
}

.item-cart-header__remove {
  transition: color 0.3s;
}

.cart-block-header__result {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin-bottom: 26px;
}

.cart-block-header__result-price {
  font-weight: 700;
}

.cart-block-header__links {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.hero {
  margin: 32px 0;
}

.hero__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 100%;
  margin-bottom: 32px;
}

.hero__sub-title {
  font-size: 40px;
  line-height: 105%;
  margin-bottom: 32px;
  color: #0d707d;
}

.hero__body {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 84px;
}

.item-hero__image {
  box-shadow: 30px 0 40px 0 rgba(0,0,0,0.05);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 41px;
  height: 243px;
  margin-bottom: 16px;
}

.item-hero__image img {
  max-width: 100%;
  height: 100%;
}

.item-hero__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
  transition: color 0.3s;
}

.item-hero__price {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.item-hero__info {
  line-height: 123%;
  margin-bottom: 16px;
}

@media (any-hover:hover) {
  .header__cart-wrap:hover .header__cart-block {
    opacity: 1;
    visibility: visible;
  }
  .header__cart-wrap:hover .header__cart-btn {
    color: #68e6f0;
  }
  .item-hero__link:hover,
  .item-cart-header__link:hover,
  .item-cart-header__remove:hover {
    color: #0d707d;
  }
  .header__logo:hover {
    color: #7bb2b4;
  }
  .link:hover {
    background-color: #0d707d;
  }
  .link--2:hover {
    background-color: #08373d;
  }

}

.fa{

}

