@use "sass:math";
@use "./functions" as *;

@mixin fluid-text($max: 48, $min: 16) {
  font-size: fluid($max, $min);
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin flex-between($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  justify-content: space-between;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin abs-x {
  position: absolute;
  left: 50%;
  translate: -50%;
}

@mixin abs-y {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin pseudo($content: "", $pos: absolute, $display: block) {
  content: $content;
  position: $pos;
  display: $display;
}

@mixin full-vw-centered-line($property: top, $left: 50%, $right: auto, $translate: -50%) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: $left;
    right: $right;
    translate: $translate;
    #{$property}: 0;
    width: 100vw;
    height: rem(1);
    background-color: var(--color-dark-15);
  }
}