@use "../../../styles/helpers" as *;

.submenu {
  //position: absolute;
  //left: 100%;
  //top: 0;
  border-radius: 8px;
  //box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  min-width: 180px;
  z-index: 1001;
  color: #0d1117;
}

.submenuItem {
  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  //background: none;
  border: none;
  cursor: pointer;
  //z-index: 2000;
  color: #0d1117;
  //background-color: #0a76c0;

  &:hover {
    //background: #f0f0f0;
  }
}