@use "./functions" as *;

$desktop-large: 1600.98;
$laptop: 1340.98;
$tablet: 1024.98;
$tablet-S: 768.98;
$mobile: 576.98;
$mobile-s: 390.98;

@mixin desktop-large {
  @media (width <= rem($desktop-large)) {
    @content;
  }
}

@mixin desktop-large-above {
  @media (width > rem($desktop-large)) {
    @content;
  }
}

@mixin laptop {
  @media (width <= rem($laptop)) {
    @content;
  }
}

@mixin laptop-above {
  @media (width > rem($laptop)) {
    @content;
  }
}

@mixin tablet {
  @media (width <= rem($tablet)) {
    @content;
  }
}

@mixin tablet-above {
  @media (width > rem($tablet)) {
    @content;
  }
}

@mixin tablet-S {
  @media (width <= rem($tablet-S)) {
    @content;
  }
}

@mixin tablet-S-above {
  @media (width > rem($tablet-S)) {
    @content;
  }
}

@mixin mobile {
  @media (width <= rem($mobile)) {
    @content;
  }
}

@mixin mobile-above {
  @media (width > rem($mobile)) {
    @content;
  }
}

@mixin mobile-s {
  @media (width <= rem($mobile-s)) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (width > rem($mobile-s)) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}

