* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EDEEF0;
}

.container {
  max-width: 1200px;
  width: 100%;
  background-color: aliceblue;
  margin: 30px auto;
}

.slider {
  width: 256px;
  height: 256px;
  margin: 30px auto;
  overflow: hidden;
  border: 2px solid black;
}

.slider__line {
  position: relative;
  height: 256px;
  width: 1024px;
  display: flex;
  overflow: hidden;
  /* left: 0; */
  transition: all ease 1s;
  background-color: orangered;
}

button {
  padding: 4px;
  border: 1px solid black;
  border-radius: 5px;
}

button:hover {
  color: blue;
  border-color: blue;
}