* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EDEEF0;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.wrapper-image {
  padding: 16px;
  background-color: white;
  max-width: 600px;
  border-radius: 9px;
  box-shadow: 5px 5px 15px grey;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 9px;
}

.button {
  font-weight: 600;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;

}

.button:hover {
  color: steelblue;
  border-color: blue;
}