@use "../../app/styles/main.scss" as *;
@use "../../app/styles/helpers/" as *;

.genresPage {
  padding-block: fluid(40, 20);
  display: flex;
  flex-direction: column;
  row-gap: fluid(15, 10);
  background-color: var(--color-bg-body);
}

.listCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
  margin: 0 auto;
  gap: rem(15);
}
