* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__inner {
    padding: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 25px;
    font-weight: bold;
    color: greenyellow;
}

.header__logo:hover {
    opacity: 0.8;
}

.header__search {
    width: 250px;
    height: 30px;
    padding: 3px;
    outline: none;
    border: 2px solid greenyellow;
    border-radius: 5px;
}

.list-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.card {
    position: relative;
    width: 240px;
    margin: 10px;
    cursor: pointer;
}

.card:hover {
    scale: 1.02;
    opacity: 0.8;
}

.card__cover {
    position: relative;
    height: 360px;
}

.card__image {
    max-width: 100%;
    height: 100%;
}

.card__info {
    padding: 10px 0px
}

.card__title {
    font-size: 16px;
    color: #fff;
}

.card__category {
    font-size: 14px;
    color: #ffd80e;
}

.card__rating {
    position: absolute;
    width: 36px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 10px;
    right: 0;
    color: white;
    background-color: #1a191f;
    border-radius: 100%;
    font-size: 14px;
}

.card__rating--green {
    border: 1px solid greenyellow;
}

.card__rating--orange {
    border: 1px solid orange;
}

.card__rating--red {
    border: 1px solid red;
}

/*modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 00, 0.5);
    transition: width 2s;
}

.modal-show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__card {
    max-width: 600px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #fff;
    background-color: #1a191f;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.modal__image {
    width: 50%;
    margin-inline: auto;
}

.modal__info {
    margin-left: 20px;
}

.modal__info li {
    padding: 5px;
}

.modal__link {
    color: #ffd80e;
}

.modal__btn-close {
    padding: 5px;
    margin: 10px;
    align-self: center;
    background-color: greenyellow;
}

.stop__scrolling {
    height: 100%;
    overflow: hidden;
}