* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EDEEF0;
}

.container {
  max-width: 1200px;
  /* margin: 0 auto; */
  padding: 50px;
}

.btn__modal {
  padding: 6px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: #EDEEF0;
}

.btn__modal:hover {
  border-color: blue;
  color: blue;
}

.btn__modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  overflow: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}

.modal__box {
  position: relative;
  max-width: 500px;
  padding: 45px;
  margin: 20px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid black; 
  transform: scale(0);
  transition: transform .8s;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box{
  transform: scale(1);
}

