* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #007aff;
  --secondary-color: #2e92ff;
  --white: #fff;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

/*HEADER================================*/

.header {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  color: var(--white);
  padding: 1rem;
  min-height: 80px;
  display: flex;
}

.header::before {
  position: absolute;
  content: "";
  left: 0;
  top: 80px;
  border: solid;
  width: 100%;
  height: 300px;
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  z-index: -1;
}

.header-wrapper {
  padding-inline: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news-search-input {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 10px 12px;
  width: 12rem;
  border-radius: 6px;
  outline: none;
  color: var(--white);
}

.news-search-input::placeholder {
  color: var(--white);
}

/*CONTENT============================================*/

.content {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  max-width: 70rem;
}

.card {
  background: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;
}

.card-image-wrapper {
  height: 250px;
  overflow: hidden;
}

.card-image-wrapper img {
  width: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.card-image-wrapper img:hover {
 scale: 1.1;
}

.card-content {
  padding: 0.8rem;
}

.card-date, .card-description {
color: #7f7f7f;
}

.card-title a {
  color: black;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-ordinal: vertical;
  overflow: hidden;
}

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-ordinal: vertical;
  overflow: hidden;
}

.card-title a:hover {
  text-decoration: underline;
}

.message-text {
  height: 250px; 
  display: flex;
  align-items: center;
  padding: 0 1rem;
   text-align: center;
   color: var(--white); 
   display: none;
}