.paginationActive {
    background-color: #0EA107;
  }
  
  .pagination {
    max-width: 300px;
    display: flex;
    align-items: center;
  }
  
  .paginationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .paginationList {
    display: flex;
    align-items: center;
  }