* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section {
    text-align: center;
    max-width: 1200px;
    margin: 30px auto;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    border: 10px solid red;
    background-color: #34b3f1;
    overflow: auto;
    font-size: 18px;
}

h1,
h2 {
    font-size: 40px;
}

.box-buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    right: 20px;
}

.btn {
    cursor: pointer;
    padding: 5px;
    width: 60px;
    aspect-ratio: 1;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid blue;
    color: blue;
}

.btn:hover {
    border-color: white;
    color: white;
    background-color: blue;
}

.scroll-top, .top {
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}